
    <nav class="navbar navbar-primary navbar-fixed-top">
        <div class="container-fluid">

                <div class="col-sm-1 col-xs-1">
                    <div class="navbar-header btn-block">
                        <div class="row">
                            <div class="col-sm-12">
                                <p class="navbar-text pull-left">
                                    <a ng-click="model.goback()" class="navbar-link">
                                    <span class="glyphicon glyphicon-chevron-left white-color">
                                    </span>
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-3 hidden-xs">
                    <div class="navbar-header btn-block">
                        <div class="row">
                            <div class="col-sm-12">
                                <!--<p class="navbar-text pull-left">
                                    <a ng-click="model.goback()" class="navbar-link">
                                <span class="glyphicon glyphicon-chevron-left white-color">
                                </span>
                                    </a>
                                </p>-->
                                <a class="navbar-brand white-color" href="#">
                                    Websites
                                </a>
                                <p class="navbar-text navbar-right">
                                    <a ng-click="model.newwebsite()" class="navbar-link">
                                <span class="glyphicon glyphicon-plus white-color">
                                </span>
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-8 col-xs">
                    <div class="navbar-header btn-block">
                        <div class="row">
                            <div class="col-sm-12">
                                <a class="navbar-brand white-color" href="#">
                                    New Website
                                </a>
                                <p class="navbar-text pull-right">
                                    <a ng-click="model.addwebsite()" class="navbar-link">
                                <span class="glyphicon glyphicon-ok white-color">
                                </span>
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </nav>

    <div class="top-margin container">
        <div class="col-sm-4 hidden-xs">
            <table class="table table-striped table-responsive">
                <tbody>
                <tr ng-repeat="wb in model.websites">
                    <td>
                        <a ng-click="model.websitepage(wb._id)">{{wb.name}}</a>
                    </td>
                    <td>
                        <a ng-click="model.editwebsite(wb._id)">
                            <scan class="glyphicon glyphicon-cog"></scan>
                        </a>
                    </td>
                </tr>
                <!--<tr>
                    <td>
                        <a href="#/user/:uid/website/:wid/page">Address Book App</a>
                    </td>
                    <td>
                        <a href="#/user/:uid/website/:wid">
                            <scan class="glyphicon glyphicon-cog"></scan>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="#/user/:uid/website/:wid/page">Blogger</a>
                    </td>
                    <td>
                        <a href="#/user/:uid/website/:wid">
                            <scan class="glyphicon glyphicon-cog"></scan>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="#/user/:uid/website/:wid/page">Blogging App</a>
                    </td>
                    <td>
                        <a href="#/user/:uid/website/:wid">
                            <scan class="glyphicon glyphicon-cog"></scan>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="#/user/:uid/website/:wid/page">Script Testing App</a>
                    </td>
                    <td>
                        <a href="#/user/:uid/website/:wid">
                            <scan class="glyphicon glyphicon-cog"></scan>
                        </a>
                    </td>
                </tr>-->
                </tbody>
            </table>
        </div>

        <div class="col-sm-8">
            <form>
                <div class="form-group">
                    <label>Name</label>
                    <input ng-model="model.website.websitename" class="form-control" placeholder="Name"/>
                </div>

                <div class="form-group">
                    <label>Description</label>
                    <textarea rows="3" ng-model="model.website.websitedescription" class="form-control" placeholder="Description"></textarea>
                </div>
            </form>
        </div>
    </div>

    <nav class="navbar navbar-primary navbar-fixed-bottom">
        <div class="container-fluid">
        <div class="navbar-footer btn-block">
            <div class="row">
                <div class="col-sm-12">
                    <p class="pull-right">
                    <a ng-click="model.profile()">
                        <span class="glyphicon glyphicon-user white-color"></span>
                    </a>
                    </p>
                </div>
            </div>
        </div>
        </div>
    </nav>

