
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">

            <div class="navbar-header btn-block">
                <div class="row">
                    <div class="col-xs-12">
                        <p class="navbar-text pull-left">
                            <a ng-click="model.goback()" class="navbar-link">
                                <span class="glyphicon glyphicon-chevron-left white-color">
                                </span>
                            </a>
                        </p>
                        <a class="navbar-brand">
                            Pages
                        </a>
                        <p class="navbar-text pull-right">
                            <a ng-click="model.newpage()" class="navbar-link">
                                <span class="glyphicon glyphicon-plus white-color">
                                </span>
                            </a>
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </nav>

    <div class="container">
        <table class="table table-default table-responsive top-margin">
            <tbody>
            <tr ng-repeat="page in model.pages">
                <td>
                    <a ng-click="model.pagewidget(page._id)">{{page.name}}</a>
                </td>
                <td>
                    <a ng-click="model.editpage(page._id)">
                        <scan class="glyphicon glyphicon-cog"></scan>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <!--<div class="container">
    <table class="table table-default table-responsive top-margin">
        <tbody>
        <tr>
            <td>
                <a href="#/user/:uid/website/:wid/page/:pid/widget">Blog Post</a>
            </td>
            <td>
                <a href="#/user/:uid/website/:wid/page/:pid">
                    <scan class="glyphicon glyphicon-cog"></scan>
                </a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="#/user/:uid/website/:wid/page/:pid/widget">Blogs</a>
            </td>
            <td>
                <a href="#/user/:uid/website/:wid/page/:pid">
                    <scan class="glyphicon glyphicon-cog"></scan>
                </a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="#/user/:uid/website/:wid/page/:pid/widget">Home</a>
            </td>
            <td>
                <a href="#/user/:uid/website/:wid/page/:pid">
                    <scan class="glyphicon glyphicon-cog"></scan>
                </a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="#/user/:uid/website/:wid/page/:pid/widget">About</a>
            </td>
            <td>
                <a href="#/user/:uid/website/:wid/page/:pid">
                    <scan class="glyphicon glyphicon-cog"></scan>
                </a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="#/user/:uid/website/:wid/page/:pid/widget">Contact Us</a>
            </td>
            <td>
                <a href="#/user/:uid/website/:wid/page/:pid">
                    <scan class="glyphicon glyphicon-cog"></scan>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
    </div>-->

    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
        <div class="navbar-footer btn-block">
            <div class="row">
                <div class="col-sm-12">
                    <p class="pull-right">
                    <a ng-click="model.profile()">
                        <span class="glyphicon glyphicon-user white-color"></span>
                    </a>
                    </p>
                </div>
            </div>
        </div>
        </div>
    </nav>

