
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">

            <div class="navbar-header btn-block">
                <div class="row">
                    <div class="col-xs-12">
                        <p class="navbar-text pull-left">
                            <a ng-click="model.goback()" class="navbar-link">
                                    <span class="glyphicon glyphicon-chevron-left white-color">
                                    </span>
                            </a>
                        </p>
                        <a class="navbar-brand">
                            Choose Widget
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </nav>

    <div class="container top-margin">
            <table class="table table-default table-responsive top-margin">
                <tbody>
                <tr>
                    <td>
                        <a ng-click="model.addwidget('HEADER')">Header</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a>Label</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a ng-click="model.addwidget('HTML')">HTML</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a>Text Input</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a>Link</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a>Button</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a ng-click="model.addwidget('IMAGE')">Image</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a ng-click="model.addwidget('YOUTUBE')">You Tube</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a>Data Table</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a>Repeater</a>
                    </td>
                </tr>
                </tbody>
            </table>
    </div>

    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
        <div class="navbar-footer btn-block">
            <div class="row">
                <div class="col-sm-12">
                    <p class="pull-right">
                    <a ng-click="model.profile()">
                        <span class="glyphicon glyphicon-user white-color"></span>
                    </a>
                    </p>
                </div>
            </div>
        </div>
        </div>
    </nav>

