
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">

            <div class="navbar-header btn-block">
                <div class="row">
                    <div class="col-xs-12">
                        <p class="navbar-text pull-left">
                            <a ng-click="model.goback()" class="navbar-link">
                                <span class="glyphicon glyphicon-chevron-left white-color">
                                </span>
                            </a>
                        </p>
                        <a class="navbar-brand">
                            Widgets
                        </a>
                        <p class="navbar-text pull-right">
                            <a ng-click="model.gotoaddwidget()" class="navbar-link">
                                <span class="glyphicon glyphicon-plus white-color">
                                </span>
                            </a>
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </nav>

    <div class="container top-margin add-scrollbar">
        <wbdv-sortable pgid="{{model.pgId}}">
        <div class="btn-block" ng-repeat="widget in model.widgets">
            <div class="pms-toolbar">
                <a ng-click="model.gotoeditwidget(widget._id)">
                    <span class="glyphicon glyphicon-cog white-color"></span>
                </a>
                <span class="glyphicon glyphicon-menu-hamburger"></span>
            </div>
            <div ng-switch="widget.widgetType">
                <div ng-switch-when="HEADER" ng-switch="widget.size">
                    <div ng-switch-when=1>
                        <h1>{{widget.text}}</h1>
                    </div>
                    <div ng-switch-when=2>
                        <h2>{{widget.text}}</h2>
                    </div>
                    <div ng-switch-when=3>
                        <h3>{{widget.text}}</h3>
                    </div>
                    <div ng-switch-when=4>
                        <h4>{{widget.text}}</h4>
                    </div>
                    <div ng-switch-when=5>
                        <h5>{{widget.text}}</h5>
                    </div>
                    <div ng-switch-when=6>
                        <h6>{{widget.text}}</h6>
                    </div>
                </div>
                <div ng-switch-when="HTML">
                    {{model.getTrustedHtml(widget.text)}}
                </div>
                <div ng-switch-when="IMAGE">
                    <img ng-src="{{widget.url}}" width="{{widget.width}}">
                </div>
                <div ng-switch-when="YOUTUBE">
                    <iframe width="100%" ng-src="{{model.doYouTrustUrl(widget.url)}}" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
        </wbdv-sortable>
    </div>

    <!--<div class="container top-margin">
    <div class="btn-block">
        <div class="pms-toolbar">
            <a href="widget-HEADER.view.client.html">
                <scan class="glyphicon glyphicon-cog white-color"></scan>
            </a>
            <scan class="glyphicon glyphicon-menu-hamburger"></scan>
        </div>
        <h1>GIZMODO</h1>
    </div>
    <div class="btn-block">
        <div class="pms-toolbar">
            <a href="widget-HEADER.view.client.html">
                <scan class="glyphicon glyphicon-cog white-color"></scan>
            </a>
            <scan class="glyphicon glyphicon-menu-hamburger"></scan>
        </div>
        <h3>US Senate reaches compromises on emergency Zika Funding</h3>
    </div>
    <div class="btn-block">
        <div class="pms-toolbar">
            <a href="widget-IMAGE.view.client.html">
                <scan class="glyphicon glyphicon-cog white-color"></scan>
            </a>
            <scan class="glyphicon glyphicon-menu-hamburger"></scan>
        </div>
        <img src="/assignment/images/mountain.jpg">
    </div>
    <div class="btn-block">
        <div class="pms-toolbar">
            <a href="#">
                <scan class="glyphicon glyphicon-cog white-color"></scan>
            </a>
            <scan class="glyphicon glyphicon-menu-hamburger"></scan>
        </div>
        <p>The oldest classical Greek and Latin writing had little or no space between words,
            and could be written in boustrophedon (alternating directions).
            Over time, text direction (left to right) became standardized,
            and word dividers and terminal punctuation became common.
            The first way to divide sentences into groups was the original paragraphos,
            similar to an underscore at the beginning of the new group.[3]
        </p>
    </div>
    <div class="btn-block">
        <div class="pms-toolbar">
            <a href="widget-YOUTUBE.view.client.html">
                <scan class="glyphicon glyphicon-cog white-color"></scan>
            </a>
            <scan class="glyphicon glyphicon-menu-hamburger"></scan>
        </div>
        <iframe src="https://www.youtube.com/embed/qMppKiqMpAk">
        </iframe>
    </div>
    <div class="btn-block">
        <div class="pms-toolbar">
            <a href="#">
                <scan class="glyphicon glyphicon-cog white-color"></scan>
            </a>
            <scan class="glyphicon glyphicon-menu-hamburger"></scan>
        </div>
        <p>
            According to radiometric dating and other sources of evidence,
            Earth formed about 4.54 billion years ago.[27][28][29]
            Earth's gravity interacts with other objects in space,
            especially the Sun and the Moon, Earth's only natural satellite.
            During one orbit around the Sun, Earth rotates about its axis over 365 times,
            thus an Earth year is about 365.26 days long.[n 7]
            Earth's axis of rotation is tilted, producing seasonal variations on the planet's surface.[30]
            The gravitational interaction between the Earth and Moon causes ocean tides,
            stabilizes the Earth's orientation on its axis, and gradually slows its rotation.[31]
        </p>
    </div>
    </div>-->

    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
        <div class="navbar-footer btn-block">
            <div class="row">
                <div class="col-xs-4">
                    <p class="navbar-text pull-left">
                            <span class="glyphicon glyphicon-play white-color"></span>
                    </p>
                    <p class="navbar-text pull-left">
                            <span class="glyphicon glyphicon-eye-open white-color"></span>
                    </p>
                </div>
                <div class="col-xs-8">
                    <p class="navbar-text pull-right">
                        <a ng-click="model.profile()">
                            <span class="glyphicon glyphicon-user white-color"></span>
                        </a>
                    </p>
                </div>
            </div>
        </div>
        </div>
    </nav>
