html { overflow: hidden; }

.btn
{
    font-size: 25px;
    width: 120px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: black;
}

#drawCanvas {
    position: absolute;
    top: 0px;
    left: 12px;
}

.color-change
{
    background-color: navajowhite;
}

.row-letter
{
    margin-top: 10px;
    border-bottom: inset;
    border-bottom-color: #5e5e5e;
    margin-bottom: 10px;
}

.txt-area
{
    margin-bottom: 7px;
    margin-left: -7px;
}

.col-lg-8
{
    border-left: inset;
}